@{
    ViewData["Title"] = "Home Page";
}

<Div>
    <img src="@ViewBag.Videojuego.Banner" width="100%" height="100%"> <br>
    <img src="@ViewBag.Videojuego.Logo" class="center">
    <p class="text-center"> @ViewBag.Videojuego.Nombre</p>
    <p class="text-center"> Desarrollador: @ViewBag.Empresa.Nombre</p>
    @foreach (Categoria c in ViewBag.Categorias)
    {
        <button type="button" class="btn btn-danger center">@c.Nombre</button> <br>
    }
    <p  class="text-center"> @ViewBag.Videojuego.Descripción </p>
    <p  class="text-center"> Fecha de lanzamiento: @ViewBag.Videojuego.FechaLanzamiento</p>
    <img src="@ViewBag.Clasificacion.Logotipo" class="center">
</Div>